<!DOCTYPE html>
<html>
<head>
  <title>CRUD User</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <h2>Data User</h2>
  <a href="/create">+ Tambah User</a>

  <table>
    <tr>
      <th>No</th>
      <th>Nama</th>
      <th>Email</th>
      <th>Aksi</th>
    </tr>
    <% users.forEach((u, i) => { %>
    <tr>
      <td><%= i + 1 %></td>
      <td><%= u.name %></td>
      <td><%= u.email %></td>
      <td>
        <a href="/edit/<%= u.id %>">Edit</a>
        <a href="/delete/<%= u.id %>" onclick="return confirm('Hapus?')">Hapus</a>
      </td>
    </tr>
    <% }) %>
  </table>
</body>
</html>
